
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section Scripts{
    <link href="~/Content/CSS.css" rel="stylesheet" />
}

<div class="jumbotron">
    <h1>Best Book Ever!</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Best Book Store, Inc.<br /></h3>
        <address>
            8888 Tom Street, Suite 888<br />
            Chicago,IL 60616<br />
            <abbr title="Phone">P:</abbr>(123)456-7890
        </address>
        <h3>Sean Liu<br /></h3>
        <address>
            <a href="mailto:xiamiliu@gmail.com">xiamiliu@gmail.com</a>
        </address>
    </div>
    <div class="col-md-6">
        <h3>Regular Fall&Spring Semester Hours</h3>
        <p>
            <strong>Mon-Thur:</strong><time>9 a.m.- 7 p.m.</time><br />
            <strong>Fri:</strong><time>9 a.m.-5:30 p.m.</time><br />
            <strong>Sat-Sun:</strong><time>12 p.m.- 5 p.m.</time>
        </p>
        <h3>Regular Summer Semester Hours</h3>
        <p>
            <strong>Mon-Thur:</strong><time>9 a.m.- 5 p.m.</time><br />
            <strong>Fri:</strong><time>9 a.m.- 4 p.m.</time><br />
            <strong>Sat-Sun:</strong><time>Closed</time>
        </p>
        <p>Please note that these hours may be extended during peak times or limited during holidays</p>
    </div>
</div>
