@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section Scripts{

}
<div class="row">
    <h3 class="text-danger">No items matched your search query!</h3>
    <button type="button" class="btn btn-info btn-lg">@Html.ActionLink("Go HomePage", "Index", "Home")</button>
</div>
